{% extends "authenticated-base.html" %}

{% block external_js %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{% endblock %}

<style>
    #edit-budget-btn {
        margin-top: 20px;
        text-align: center;
        background-color: #354f52;
        border-color: #354f52;
        color: #cad2c5;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: all 0.3s ease;
        height: auto;
    }

    .first-content,
    .second-content,
    .third-content {
        width: 100%;
    }
</style>

{% block subpage_content %}
    <div class="container" id="content">
        <div class = "summary">
            <h5 class="card-title">Budget Summary for {{month}}</h5>
            <p class="card-text">This is a summary of your budget for the month of {{month}}. You can see an overview of your expenses and income here.</p>
                <div class="card mb-4">
                    <div class="card-body">
                        <span class="text-success">
                            Income:  
                        </span>
                        <span class="text-success" id="total-income">
                            $0  
                        </span>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <span class="text-danger">
                            Expense:  
                        </span>
                        <span class="text-danger" id="total-expense">
                            $0  
                        </span>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <span class="text-primary">
                            Savings:  
                        </span>
                        <span class="text-primary" id="total-savings">
                            $0  
                        </span> 
                    </div>
                </div>
              <div class = "d-flex flex-row-reverse"> 
                <button type="btn btn-primary ms-auto" class="btn btn-info openModal" data-bs-toggle="modal" data-bs-target="#myModal" id="edit-budget-btn" style="background-color: #354f52; border-color: #354f52; color: white;">Edit Budget</button>
              </div>    
        </div>
        <div class = "Analytics">
            <h5 class="card-title">Budget Analytics</h5>
            <p class="card-text">Here are some insights about your budget performance.</p>
                <div class="card p-4 shadow-sm">
                    <h5>Monthly Spending</h5>
                    <canvas id="budgetChart"></canvas>
                </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Build your Budget</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <div class="first-content">
                            <p>
                                Budget Name: <input type="text" id="budget-name" class="form-control" placeholder="eg. Bob's Budget">
                            </p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info first-modal-next">
                                    Next
                                </button>
                            </div>
                        </div>

                        <div class="second-content d-none">
                            <p>Income Name: <input type="text" id="income-name" class="form-control" placeholder="eg. Salary"></p>
                            <p>Income Amount: <input type="number" id="income-amount" class="form-control" placeholder="eg. 2000.00"></p>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info me-auto second-modal-back" id="back">
                                    Back
                                </button>
                                <button type="button" id="add-income" class="btn btn-success second-modal-add">
                                    Add
                                </button>
                                <button type="button" class="btn btn-info my-auto second-modal-next">
                                    Next
                                </button>
                            </div>
                        </div>
                        <div class="third-content d-none">
                            <p>Expense Name: <input type="text" id="expense-name" class="form-control" placeholder="eg. Netflix"></p>
                            <p>Expense Amount: <input type="number" id="expense-amount" class="form-control" placeholder="eg. 100.00"></p>
                            <p>Select Category:
                                <select id="expense-category" class="form-select">
                                    <option value="">Select a category</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Health">Health</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Business">Business</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Food">Food</option>
                                    <option value="Utilities">Utilities</option>
                                    <option value="Other">Other</option>
                                </select>
                            </p>
                            <div class="check-box d-flex justify-content-start align-items-center gap-2">
                                <input type="checkbox" id="expense-recurring" name="recurring">
                                <label for="expense-recurring">Monthly Recurring Payment</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info me-auto third-modal-back">
                                    Back
                                </button>
                                <button type="button" id="add-expense" class="btn btn-success">
                                    Add
                                </button>
                                <button type="button" id="save-budget" class="btn btn-info my-auto">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">

            <div id="budgetToast" class="toast align-items-center text-bg-success border-0" role="alert">

                <div class="d-flex">
                    <div class="toast-body">
                        Budget Saved!
                    </div>

                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast">
                    </button>
                </div>

            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block subpage_scripts %}

<script>
    console.log("Budget page JS loaded");
    

    document.addEventListener("DOMContentLoaded", () => {
        
        let incomes = [];
        let expenses = [];

        function renderIncomeList() {
            console.log("Income List Updated:", incomes);
        }

        function renderExpenseList() {
            console.log("Expense List Updated:", expenses);
        }

        function updateBudgetSummary() {

            const totalIncome = incomes.reduce((sum, income) => sum + income.amount, 0);
            const totalExpense = expenses.reduce((sum, expense) => sum + expense.amount, 0);
            const totalSavings = totalIncome - totalExpense;

            const formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD'
            });

            document.getElementById("total-income").textContent =
                formatter.format(totalIncome);

            document.getElementById("total-expense").textContent =
                formatter.format(totalExpense);

            document.getElementById("total-savings").textContent =
                formatter.format(totalSavings);
        }

        document.getElementById("add-income").addEventListener("click", function () {

            const name = document.getElementById("income-name").value;
            const amount = document.getElementById("income-amount").value;

            if (!name || !amount) return;

            const incomeObj = {
                name: name,
                amount: parseFloat(amount)
            };

            incomes.push(incomeObj);
            updateBudgetSummary();
            renderIncomeList();

            document.getElementById("income-name").value = "";
            document.getElementById("income-amount").value = "";

        });

        document.getElementById("add-expense").addEventListener("click", function () {

            const name = document.getElementById("expense-name").value;
            const amount = document.getElementById("expense-amount").value;
            const recurring = document.getElementById("expense-recurring").checked;
            const category = document.getElementById("expense-category").value;

            if (!name || !amount || !category) return;

            const expenseObj = {
                name: name,
                amount: parseFloat(amount),
                recurring: recurring,
                category: category
            };

            expenses.push(expenseObj);
            updateBudgetSummary();
            renderExpenseList();
            updateChart();

            document.getElementById("expense-name").value = "";
            document.getElementById("expense-amount").value = "";
            document.getElementById("expense-recurring").checked = false;
            document.getElementById("expense-category").value = "";
        });

        document.getElementById("save-budget").addEventListener("click", async function () {

            const budgetName = document.getElementById("budget-name").value;
            const budget = {
                name: budgetName,
                incomes: incomes,
                expenses: expenses
            };

            try {
                const response = await fetch("/budgets/create", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(budget)
                });

                const data = await response.json();

                console.log("Saved:", data);

            } catch (error) {
                console.error("Error saving budget:", error);
            }
            const toast = new bootstrap.Toast(document.getElementById("budgetToast"));
            toast.show();
        });

        const openModal = document.querySelector(".openModal");
        const firstModalNext = document.querySelector(".first-modal-next");
        const secondModalNext = document.querySelector(".second-modal-next");
        const secondModalBack = document.querySelector(".second-modal-back");
        const thirdModalBack = document.querySelector(".third-modal-back");

        openModal.addEventListener("click", () => {
            setTimeout(() => {
                const p = document.querySelector(".first-content p");  
            }, 250);
        });

        firstModalNext.addEventListener("click", () => {
            document.querySelector(".first-content").classList.add("d-none");
            document.querySelector(".second-content").classList.remove("d-none");
            //document.querySelector(".third-content").classList.add("d-none");
        });

        secondModalNext.addEventListener("click", () => {
            document.querySelector(".second-content").classList.add("d-none");
            //document.querySelector(".first-content").classList.add("d-none");
            document.querySelector(".third-content").classList.remove("d-none");
        });
        secondModalBack.addEventListener("click", () => {
            document.querySelector(".second-content").classList.add("d-none");
            document.querySelector(".first-content").classList.remove("d-none");
            //document.querySelector(".third-content").classList.remove("d-none");
        });

        thirdModalBack.addEventListener("click", () => {
            document.querySelector(".second-content").classList.remove("d-none");
            //document.querySelector(".first-content").classList.add("d-none");
            document.querySelector(".third-content").classList.add("d-none");
        });
        const ctx = document.getElementById('budgetChart');

        const budgetChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Technology', 'Health', 'Sports', 'Entertainment', 'Business', 'Rent', 'Food', 'Utilities', 'Other'],
                datasets: [{
                    label: 'Expenses ($)',
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        function updateChart() {

            const categoryTotals = [0, 0, 0, 0, 0, 0, 0, 0, 0];

            expenses.forEach(expense => {

                const categoryIndex =
                    ['Technology', 'Health', 'Sports', 'Entertainment', 'Business', 'Rent', 'Food', 'Utilities', 'Other']
                    .indexOf(expense.category);

                if (categoryIndex !== -1) {
                    categoryTotals[categoryIndex] += expense.amount;
                }

            });

            budgetChart.data.datasets[0].data = categoryTotals;

            budgetChart.update();
        }
    });
</script>

{% endblock %}