{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block external_js %}

{% endblock %}


{% block internal_css %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }

    .login-container {
        min-height: 75vh;
        max-height: 75vh;
        border: none;
        border-radius: 1rem;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin-top: 7vh;
    }

    .login-card {
        border: none;
        border-radius: 1rem;
        overflow: hidden;
        height: auto;
        width: 30%;
        min-width: 320px;
        transform: scale(1.2);
    }

    .submit{
        outline: none;
    }

    .form-section {
        padding: 3rem;
    }

    .form-control {
        border-radius: 0.5rem;
    }


</style>
{% endblock %}


{% block content %}

    <nav class="nav-bar">
        <a href="#" class="brand text-decoration-none fs-2 fw-bold"><span style="color: #6B9080;">Pocket </span><span style="color: black;">Plan</span></a>
        <div class="nav-actions">
            <a href="{{ url_for('landing_view') }}" class="btn-login text-decoration-none fs-4 fw-bold" style="color: black; ">X</a>
        </div>
    </nav>

<div class="container login-container d-flex shadow-lg">
    <div class="card shadow-lg login-card align-items-center justify-content-center">
        <div class="row g-0">
            <div class="bg-white">
                <div class="form-section">
                    <h5 class="mb-3">Login to your account</h5>
                    <form id="loginForm" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control form-control-md" id="username" name="username"
                                required="required">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-md" id="password" name="password"
                                required>
                        </div>

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-lg" style="background-color: #6B9080; color: white;">
                                Sign In
                            </button>

                    </form>
                </div>

                <div class="d-grid mb-3">
                    <P>New to Pocket Plan?<a href="{{url_for('register_view')}}" class="submit text-decoration-none" style="color: #6B9080;"> <em>Sign Up</em></a></P>
                </div>


                {% for message in get_flashed_messages(request) %}
                <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}